<div ng-controller="UsersController as users">
    <div class="user-edit-alert col-sm-8 col-sm-offset-2">
        <alert ng-repeat="alert in users.alerts" type="{{alert.type}}" close="users.removeAlerts($index)">{{alert.msg}}</alert>
    </div>
    <div class="col-md-12 panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>email</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, user) in users.users" ng-show="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.u_name}}</td>
                    <td>{{user.u_email}}<td>
                    <td>
                        <a href="/#/user-edit/{{user.id}}"><span title="Редактировать" class="glyphicon glyphicon-pencil"></span></a>
                        <a href="javascript:void(0)"><span title="Удалить" class="glyphicon glyphicon-remove" ng-click="users.removeUser(user.id)"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div><a href="/#/home"><span class="glyphicon glyphicon-chevron-left"></span>Вернутся на главную</a></div>
</div>